*{
    color:white;
    text-transform: uppercase;
}
.head{
    background-color: black;
    padding:0px 5px;
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1;
}
.head-logo-ins{
    font-size: 26px;
    font-weight: bold;
    min-width:250px;
    padding:17px 0px;
    display: inline-block;
}
.menu a{
    display:inline-block;
    height: inherit;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 14px;
    margin-right: 14px;
    float:right;
    padding: 20px 0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color:black;
}
.menu a:hover{
    animation-name: menu-elem;
    animation-duration:  0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: menu-elem;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}
.hamburger{
    float: right;
    display:none;
    height: inherit;
    width: auto;
    cursor: pointer;
    border:1px solid white;
    border-radius: 10px;
    margin: 13px 0;
    padding:7px;
}
.hamburger img{
    height: 20px;
    width: 20px;
    display: inline-block;
}
.hamburger span{
    font-size: 14px;
    margin:auto 0;
    transform: translateY(-2px);
    display: inline-block;
}
@keyframes menu-elem {
    from{
        border-color:black;
    }
    to{
        border-color:white;
    }
}
@-webkit-keyframes menu-elem {
    from{
        border-color:black;
    }
    to{
        border-color:white;
    }
}
@media (max-width: 990px)
{
    .hamburger{
        display: block;
    }
    .menu{
        position: absolute;
        opacity:0;
        width: auto;
        right: 0;
        z-index: -1;
        background-color: black;
    }
    .divider{
        display:none;
    }
    .head-logo{
        width: auto;
    }
}
@media (max-width: 445px)
{
    
}