.project {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 5px;
    padding:5px 0;
    
}
.project-title{
    background-color: black;
    color:white;
    text-align: center;
    width:100%;
    font-size:25px;
    padding:10px 0;
    font-family: 'Lora';
}
.project-desc{
    padding:10px 15px;
    color:black; 
    background-color: white;
    font-family: 'Lora';
}
.project-desc-con{
    font-size:18px;
    text-indent: 14px;
    display:block;
    min-height: 180px;
    line-height: 30px;
}
.project-desc-foot{
    clear: both;
    position: relative;
}
.project-desc-lang{
    font-size:22px;
    font-weight: bold;
    font-family: 'Cabin';
    text-transform: uppercase;
}
.project-desc-link{
    float:right;
    display: block;
}
.project-desc-link img{
    width:30px;
    height: 30px;
}