<section class="main">
    <div class="container">
        <div class="main-desc">
            <h1 class="main-inc">{{MainIns}}</h1>
            <span class="main-inc-sec">{{Desc}}</span>
            <img src="../img/button.png" class="main-butt" (click)="scroll()"/>
        </div>
    </div>
</section>
<section class="main-exp">
    <div class="container">
        <div class="block-1">

        </div>
        <div class="main-desc block-10">
            <div class="main-title">
                <h3>My Projects</h3>
            </div>
            <div class="main-pro" *ngFor="let item of Projs">
                <project [data]="item" class="block-4"></project>
            </div>
        </div>
        <div class="block-1">

            </div>
    </div>
</section>
<section class="main-exp">
    <div class="container">
        <div class="main-desc">
            <div>
                <h3 class="main-title">About</h3>
            </div>
        </div>
    </div>
</section>