<!-- <div class="exp">
    <div class="exp-left">
            <div class="exp-head">
                <h4 class="exp-comp">{{data.company}}</h4>
                <span class="exp-date">{{data.dateFrom.toLocaleDateString()}} - {{data.dateTo.toLocaleDateString()}}</span>
            </div>
            <div>
                <span class="exp-sta">{{data.standing}}</span>
                <span class="exp-desc">{{data.desc}}</span>
            </div>
    </div>
    <div class="exp-right">
        <img class="exp-logo" src="{{data.logoUrl}}" alt="err"/>
    </div>
</div> -->
<div class="exp-elem">
    <img src="{{data.logoUrl}}" alt="err" />
    <h4 class="exp-name">{{data.company}}</h4>
    <span class="exp-desc">{{data.desc}}</span>
</div>